.nav-menu {
    list-style: none;
    background-color: #202F46;
    height: 100vh;
    width: 80px;
    justify-content: center;
}

.nav-menu ul,
.nav-menu {
    color: aliceblue;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.nav-menu ul li a {
    text-decoration: none;
    color: #FEFEFE;
    font-family: 'Press Start 2P';
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu ul {
    display: flex;
    justify-content: space-evenly;
}

.nav-menu ul li {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 0.7em;
    position: relative;
}

.nav-menu ul li:hover {
    background: #6C17AF;
    border-right: #6C17AF solid;
}

.corpo-logo {
    background-color: rgb(32, 34, 34);
}

.logo {
    color: white;
    font-family: 'Righteous', cursive;
}

.logo .E {
    stroke: #FEFEFE;
    stroke-width: 2px;
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: lett-tracado-E 3s ease-in-out forwards 1s;
}

@keyframes lett-tracado-E {
    to {
        stroke-dashoffset: 0;
        fill: #FEFEFE;
    }
}

.logo .D {
    stroke: #A0079A;
    stroke-width: 2px;
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: lett-tracado-D 5s ease-in-out forwards 1s;
}

@keyframes lett-tracado-D {
    to {
        stroke-dashoffset: 0;
        fill: #A0079A;
    }
}

.icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tooltipe {
    position: absolute;
    width: 100%;
    top: 34%;
    left: 80%;
    background: #6C17AF;
    height: 30px;
    margin-left: 10px;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

.icons:hover .tooltipe {
    visibility: visible;
}


/* .tooltipe::after {
    content: "";
    position: absolute;
    top: 30%;
    left: -5%;
    margin-left: -5px;
    border-width: 5px;
    transform: rotateZ( 90deg);
    border-style: solid;
    border-color: #6C17AF transparent transparent transparent;
} */


/* icones */
