<section class="section">
    <article class="corpo">
        <div class="atari1"></div>
        <div class="atari2"></div>
        <div class="atari3"></div>
        <div class="atari4"></div>
        <div class="atari5"></div>
        <div class="atari6"></div>
        <div class="atari7"></div>
        <div class="atari8"></div>
        <div class="atari9"></div>
        <div class="atari10"></div>
        <article class="botton-img"></article>

    </article>
    <article class="corpo-texto"></article>

</section>
