<section class="container-fluid">
    <section class="atari1"></section>
    <section class="atari2"></section>
    <section class="atari3"></section>
    <section class="atari4"></section>
    <section class="atari5"></section>
    <section class="atari6"></section>
    <section class="atari7"></section>
    <section class="atari8"></section>
    <section class="atari9"></section>
    <section class="atari10"></section>
    <section>
        <section class="corpo">
            <section class="botton-img"></section>
            <article class="texto-nome">
                <span>Edvanderson</span> B. Lisboa
            </article>
            <article class="cargo">
                Engineer Software | FullSatcker
            </article>
            <section class="icons">
                <article>
                    <i class="fa fa-github-square" aria-hidden="true"></i>
                </article>

                <article>
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </article>

                <article>
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </article>

                <article>
                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                </article>

                <article>
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </article>

            </section>
        </section>
        <section class="about">
            <!-- <article>
            Desenvolvedor Front End Graduado em Tecnologia em Sistemas para Internet pelo Centro Universitário Senac. Constantemente antenado à novas tendências tecnológicas, fiz cursos técnicos em Desenvolvimento Web pela Rocketseat, Caelum, Alura e TreinaWeb, Complementação
            Mobile pela CodeSchool, Treehouse, e Fundamentos do Design Responsivo pela Udacity. Em 4 anos atuando como programador front-end, conheci clientes, agências, desenvolvedores e designers super legais e competentes, atualmente faço parte do
            time de Desenvolvimento do Grupo Santander Brasil
        </article> -->

            <div class="card">
                <p>
                    Sobre Mim
                </p>
                <h2>
                    Desenvolvedor Front End Graduado em Tecnologia em Sistemas para Internet pelo Centro Universitário Senac. Constantemente antenado à novas tendências tecnológicas, fiz cursos técnicos em Desenvolvimento Web pela Rocketseat, Caelum, Alura e TreinaWeb, Complementação
                    Mobile pela CodeSchool, Treehouse, e Fundamentos do Design Responsivo pela Udacity. Em 4 anos atuando como programador front-end, conheci clientes, agências, desenvolvedores e designers super legais e competentes, atualmente faço parte
                    do time de Desenvolvimento do Grupo Santander Brasil
                </h2>
            </div>
        </section>
    </section>


</section>
