<section class="container-fluid">
    <section class="atari1"></section>
    <section class="atari2"></section>
    <section class="atari3"></section>
    <section class="atari4"></section>
    <section class="atari5"></section>
    <section class="atari6"></section>
    <section class="atari7"></section>
    <section class="atari8"></section>
    <section class="atari9"></section>
    <section class="atari10"></section>
    <section>
        <section class="corpo">
            <section class="botton-img"></section>
            <article class="texto-nome">
                <span>Edvanderson</span> B. Lisboa
            </article>
            <article class="cargo">
                Engineer Software | FullSatcker
            </article>
            <section class="icons">
                <article>
                    <i class="fa fa-github-square" aria-hidden="true"></i>
                </article>

                <article>
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </article>

                <article>
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </article>

                <article>
                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                </article>

                <article>
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </article>

            </section>
        </section>



    </section>
