.container-fluid {
    height: 100vh;
    background-color: rgb(32, 34, 34);
    width: 100%;
}

.corpo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 30px;
}

.corpo .texto-nome {
    color: rgb(255, 255, 255);
    margin-top: 30px;
}

.cargo {
    margin-top: 20px;
    color: #565656;
    font-size: 0.8em;
}

.corpo .texto-nome span {
    color: purple
}

.corpo-texto {
    color: white;
    margin: 0 20px;
    font-size: 2em;
    font-family: 'Righteous', cursive;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: 1;
}

.corpo-texto .info span {
    font-size: 0.4em;
    color: rgb(105, 102, 102);
}

.btn-contacts {
    height: 40px;
    width: 100px;
    background: #403f3f26;
    border: 1px solid #23fb51;
    color: white;
    font-family: 'Righteous', cursive;
    font-size: 0.5em;
    margin: 0 auto;
}

.btn-contacts:hover {
    background: #2fb34b;
}

.botton-img {
    background: url(../../assets/imagens/ed.png);
    position: relative;
    width: 150px;
    height: 150px;
    top: 5%;
    border-radius: 200px;
    border: solid 10px #13b277;
    animation: Pulse 2s infinite;
    background-size: cover;
    background-position: center;
}

@keyframes Pulse {
    0% {
        box-shadow: 1px 1px 5px 20px rgb(19 178 119 / 17%);
    }
    15% {
        box-shadow: 1px 1px 10px 25px rgb(19 178 119 / 17%);
    }
    35% {
        box-shadow: 1px 1px 15px 30px rgb(19 178 119 / 17%);
    }
    45% {
        box-shadow: 1px 1px 20px 35px rgb(19 178 119 / 17%);
    }
    55% {
        box-shadow: 1px 1px 25px 40px rgb(19 178 119 / 17%);
    }
    65% {
        box-shadow: 1px 1px 20px 35px rgb(19 178 119 / 17%);
    }
    85% {
        box-shadow: 1px 1px 15px 30px rgb(19 178 119 / 17%);
    }
    100% {
        box-shadow: 1px 1px 10px 25px rgb(19 178 119 / 17%);
    }
}

.stars {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    box-shadow: 50px 30px white, 100px 80px white, 80px 120px white, 300px 20px white, 250px 130px white, 200px 50px white, 150px 100px white, 320px 100px white;
}

@keyframes AtariCima {
    0% {
        bottom: 0%;
    }
    20% {
        bottom: 20%;
    }
    40% {
        bottom: 40%;
    }
    60% {
        bottom: 60%;
    }
    90% {
        bottom: 90%;
    }
    100% {
        bottom: 100%;
    }
}

.atari1 {
    background-image: url('../../assets/imagens/SpaceInvades/AtariAzul.svg');
    width: 51px;
    height: 36px;
    position: absolute;
    left: 10%;
    animation: AtariCima 3s infinite;
}

.atari2 {
    background-image: url('../../assets/imagens/SpaceInvades/AtariGreen.svg');
    width: 51px;
    height: 36px;
    position: absolute;
    left: 20%;
    animation: AtariCima 2s infinite;
}

.atari3 {
    background-image: url('../../assets/imagens/SpaceInvades/AtariOrange.svg');
    width: 51px;
    height: 36px;
    position: absolute;
    left: 5%;
    animation: AtariCima 4s infinite;
}

.atari4 {
    background-image: url('../../assets/imagens/SpaceInvades/AtariAzul.svg');
    width: 51px;
    height: 36px;
    position: absolute;
    left: 15%;
    animation: AtariCima 5s infinite;
}

.atari5 {
    background-image: url('../../assets/imagens/SpaceInvades/AtariRed.svg');
    width: 51px;
    height: 36px;
    position: absolute;
    right: 25%;
    animation: AtariCima 2s infinite;
}

.atari6 {
    background-image: url('../../assets/imagens/SpaceInvades/AtariRoxo.svg');
    width: 51px;
    height: 36px;
    position: absolute;
    right: 10%;
    animation: AtariCima 2s infinite;
}

.atari7 {
    background-image: url('../../assets/imagens/SpaceInvades/AtariGreen.svg');
    width: 51px;
    height: 36px;
    position: absolute;
    right: 5%;
    animation: AtariCima 6s infinite;
}

.atari8 {
    background-image: url('../../assets/imagens/SpaceInvades/AtariRed.svg');
    width: 51px;
    height: 36px;
    position: absolute;
    right: 20%;
    animation: AtariCima 4s infinite;
}

.atari9 {
    background-image: url('../../assets/imagens/SpaceInvades/AtariOrange.svg');
    width: 51px;
    height: 36px;
    position: absolute;
    right: 40%;
    animation: AtariCima 8s infinite;
}

.atari10 {
    background-image: url('../../assets/imagens/SpaceInvades/AtariGreen.svg');
    width: 51px;
    height: 36px;
    position: absolute;
    left: 30%;
    animation: AtariCima 6s infinite;
}

.icons {
    font-size: 2em;
    color: white;
    display: flex;
}

.icons i {
    margin: 0 8px;
}

.icons article:nth-child(1) i {
    color: black;
}

.icons article:nth-child(2) i,
.icons article:nth-child(5) i {
    color: rgb(19 141 246);
}

.icons article:nth-child(4) i {
    color: rgb(79 206 255);
}

.icons article:nth-child(3) i {
    color: rgb(174 22 193);
}

.about {
    position: relative;
    top: 5%;
    color: white;
}

.about .about-text {}

.about .skill-text span {
    color: #a0079a;
}


/* Card about*/
